{% load static from staticfiles %}
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src='{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}'></script>
  <link href='{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <a class="navbar-brand" href='{% url "directories" %}'>djmediastreamer</a>
    </div>
    <div class="navbar-right">
      <a class="navbar-brand" href='logout'>Logout</a>
    </div>
  </nav>
  <br><br><br><br>
  {% block content %}
  {% endblock %}
</body>
</html>
