{% extends 'djmediastreamer/base.html' %}
{% load nvd3_tags %}
{% load static %}

{% block extra_head %}
  <link href='{% static "node_modules/nvd3/build/nv.d3.min.css" %}' rel="stylesheet">
  <link href='{% static "djmediastreamer/css/statistics.css" %}' rel="stylesheet">
  <link href='{% static "node_modules/datatables/media/css/jquery.dataTables.min.css" %}' rel="stylesheet">
  <script src='{% static "node_modules/d3/d3.min.js" %}'></script>
  <script src='{% static "node_modules/nvd3/build/nv.d3.min.js" %}'></script>
  <script src='{% static "node_modules/highcharts/highcharts.js" %}'></script>
  <script src='{% static "node_modules/datatables/media/js/jquery.dataTables.min.js" %}'></script>
  <script>
    charts = [];
    {% for c in charts %}
      charts.push({
        name: "{{c.chart_name}}",
        container: "{{c.container}}",
        data: {{c.js_data|safe}},
        serie_name: "{{c.serie_name}}",
      });
    {% endfor %}
  </script>
  <script src='{% static "djmediastreamer/js/statistics.js" %}'></script>
{% endblock extra_head %}

{% block content %}
<div id="modal-details" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-extra-lg">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Media files</h4>
        </div>
        <div id="details-content"></div>
    </div>
  </div>
</div>

<div class="row chart-row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Filters</div>
        <br>
        <form id="filters-form" method="get">
          {{ form }}
        </form>
      <div class="panel-body">
      </div>
  </div>
</div>

<div class="row chart-row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by video codec</div>
      <div class="panel-body">
        <div id="container1"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by extension</div>
      <div class="panel-body">
        <div id="container2"></div>
      </div>
    </div>
  </div>
</div>

<div class="row chart-row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by file size</div>
      <div class="panel-body">
        <div id="container3"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by image size</div>
      <div class="panel-body">
        <div id="container4"></div>
      </div>
    </div>
  </div>
</div>

<div class="row chart-row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by duration</div>
      <div class="panel-body">
        <div id="container5"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Grouped by directory</div>
      <div class="panel-body">
        <div id="container6"></div>
      </div>
    </div>
  </div>
</div>

<div class="row chart-row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">Repeated files gropued by directory</div>
      <div class="panel-body">
        <div id="container7"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
