{% extends 'djmediastreamer/base.html' %}
{% load static %}

{% block extra_head %}
  <script src='{% static "djmediastreamer/js/watch.js" %}'></script>
{% endblock extra_head %}

{% block content %}
  Back to <a href="{{directory.url}}">{{directory.path}}</a><br><br>
  {{mediafile.file_name}}<br><br>
  <video id="video" controls autoplay>
    <source src="{{mediafile.url}}" type="{{mediafile.video_type}}">
  </video>
  <br><br>

  <form action="." method="get">
    {% csrf_token %}
    <input type="hidden" value="{{mediafile.id}}" id="mediafile_id" name="mediafile_id">
    <label>Jump to</label>
    <input id='goto' name="goto" value="{{goto}}">
    <br><br>
    {% for s in subtitles %}
      <input type="checkbox" name="sub_{{forloop.counter0}}" value="{{s.file}}" {{s.checked}}>{{s.file}}<br>
    {% endfor %}
    <br>
    <input type="submit" value="Reload">
  </form>
  <br><br>
  <a href="{{mediafile.download_url}}">Download file</a>

{% endblock content %}
